## Instructions

1. Follow the instructions in each of the cell

2. Make sure not to delete any of the cells

#### Run the below cell to install the required packages and download the required files

In [1]:
!wget https://hr-projects-assets-prod.s3.amazonaws.com/7ci8p93b6bl/c2e87ab672c358f5a889ab5b8c6b4359/uncleaned_data.csv
!pip3 install pytest==3.7.4

--2021-09-03 15:27:15--  https://hr-projects-assets-prod.s3.amazonaws.com/7ci8p93b6bl/c2e87ab672c358f5a889ab5b8c6b4359/uncleaned_data.csv
Resolving hr-projects-assets-prod.s3.amazonaws.com (hr-projects-assets-prod.s3.amazonaws.com)... 52.216.112.179
Connecting to hr-projects-assets-prod.s3.amazonaws.com (hr-projects-assets-prod.s3.amazonaws.com)|52.216.112.179|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 249134 (243K) [binary/octet-stream]
Saving to: ‘uncleaned_data.csv’

uncleaned_data.csv  100%[===================>] 243.29K   293KB/s    in 0.8s

2021-09-03 15:27:17 (293 KB/s) - ‘uncleaned_data.csv’ saved [249134/249134]

Collecting pytest==3.7.4
  Downloading pytest-3.7.4-py2.py3-none-any.whl (204 kB)
     |████████████████████████████████| 204 kB 2.1 MB/s eta 0:00:01
Collecting atomicwrites>=1.0
  Downloading atomicwrites-1.4.0-py2.py3-none-any.whl (6.8 kB)
Collecting more-itertools>=4.0.0
  Downloading more_itertools-8.9.0-py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 330 kB/s  eta 0:00:01
Collecting py>=1.5.0
  Downloading py-1.10.0-py2.py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 6.2 MB/s  eta 0:00:01
Collecting pluggy>=0.7
  Downloading pluggy-1.0.0-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.7/site-packages (from pytest==3.7.4) (20.2.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from pytest==3.7.4) (49.6.0.post20201009)
Requirement already satisfied: six>=1.10.0 in /opt/conda/lib/python3.7/site-packages (from pytest==3.7.4) (1.15.0)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /opt/conda/lib/python3.7/site-packages (from pluggy>=0.7->pytest==3.7.4) (2.0.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=0.12; python_version < "3.8"->pluggy>=0.7->pytest==3.7.4) (3.4.0)
Installing collected packages: atomicwrites, more-itertools, py, pluggy, pytest
Successfully installed atomicwrites-1.4.0 more-itertools-8.9.0 pluggy-1.0.0 py-1.10.0 pytest-3.7.4

In [38]:
#import statements
import pandas as pd
import numpy as np
from datetime import datetime

### Input Data

Note : Dataset is

(uncleaned_data.csv)

In [229]:
#Load the data
df=pd.read_csv('uncleaned_data.csv')

df.columns

Index(['station', 'Date', 'Present_Tmax', 'Present_Tmin', 'LDAPS_RHmin',
       'LDAPS_RHmax', 'LDAPS_Tmax_lapse', 'LDAPS_Tmin_lapse', 'LDAPS_WS',
       'LDAPS_LH', 'LDAPS_CC1', 'LDAPS_CC2', 'LDAPS_CC3', 'LDAPS_CC4',
       'LDAPS_PPT1', 'LDAPS_PPT2', 'LDAPS_PPT3', 'LDAPS_PPT4', 'lat', 'lon',
       'DEM', 'Slope', 'Solar radiation', 'Next_Tmax', 'Next_Tmin'],
      dtype='object')

### Replace the NULL values present in the columns "Next_Tmax" and "Next_Tmin" with "MODE" of the columns respectively

### Q1.Return the Column "Next_Tmax" as a LIST

In [73]:
df['Next_Tmax'].fillna(df['Next_Tmax'].mode(),inplace=True)

In [74]:
df['Next_Tmin'].fillna(df['Next_Tmin'].mode(),inplace=True)

In [75]:
#Assign your answer to this variable

q1=df['Next_Tmax'].values.tolist()

### Replace the NULL values present in the list of columns 

[
'Present_Tmin',
'Present_Tmax',
'LDAPS_RHmin',
'LDAPS_RHmax',
'LDAPS_Tmax_lapse',
'LDAPS_Tmin_lapse',
'LDAPS_WS',
'LDAPS_LH',
'LDAPS_CC1',
'LDAPS_CC2',
'LDAPS_CC3',
'LDAPS_CC4',
'LDAPS_PPT1',
'LDAPS_PPT2',
'LDAPS_PPT3',
'LDAPS_PPT4'
]
### with "Mean/Average" of the columns respectively 

#### Note:

Round off the 'Mean' values upto the number of decimal places the mentioned in the following:

['Present_Tmin','Present_Tmax'] - 1

['LDAPS_PPT1','LDAPS_PPT2','LDAPS_PPT3','LDAPS_PPT4'] - 5

['LDAPS_RHmin','LDAPS_RHmax','LDAPS_Tmax_lapse','LDAPS_Tmin_lapse','LDAPS_LH'] - 8

['LDAPS_WS','LDAPS_CC1','LDAPS_CC2','LDAPS_CC3','LDAPS_CC4',] - 9

In [76]:
round1 =['Present_Tmin','Present_Tmax']
round5 = ['LDAPS_PPT1','LDAPS_PPT2','LDAPS_PPT3','LDAPS_PPT4'] 
round8 = ['LDAPS_RHmin','LDAPS_RHmax','LDAPS_Tmax_lapse','LDAPS_Tmin_lapse','LDAPS_LH']
round9 = ['LDAPS_WS','LDAPS_CC1','LDAPS_CC2','LDAPS_CC3','LDAPS_CC4',]

In [77]:
for i in round1:
    df[i].fillna(round(df[i].mode(),1),inplace=True)

In [78]:
for i in round5:
    df[i].fillna(round(df[i].mode(),5),inplace=True)

In [79]:
for i in round8:
    df[i].fillna(round(df[i].mode(),8),inplace=True)

In [80]:
for i in round9:
    df[i].fillna(round(df[i].mode(),9),inplace=True)

### Q2.Return the Dataframe which contains these columns [ 'Present_Tmin', 'Present_Tmax', 'LDAPS_RHmin', 'LDAPS_RHmax', 'LDAPS_Tmax_lapse', 'LDAPS_Tmin_lapse', 'LDAPS_WS', 'LDAPS_LH', 'LDAPS_CC1', 'LDAPS_CC2', 'LDAPS_CC3', 'LDAPS_CC4', 'LDAPS_PPT1', 'LDAPS_PPT2', 'LDAPS_PPT3', 'LDAPS_PPT4' ]

In [81]:
#Assign your answer to this variable
q2=df[[ 'Present_Tmin', 'Present_Tmax', 'LDAPS_RHmin', 'LDAPS_RHmax', 'LDAPS_Tmax_lapse', 'LDAPS_Tmin_lapse', 'LDAPS_WS', 'LDAPS_LH', 'LDAPS_CC1', 'LDAPS_CC2', 'LDAPS_CC3', 'LDAPS_CC4', 'LDAPS_PPT1', 'LDAPS_PPT2', 'LDAPS_PPT3', 'LDAPS_PPT4' ]]

### Replace the Representation errors in the column "Date" properly as per the column

#### e.g.:
### Some values are represented using words instead of numbers like "Fifteen-10-14" instead of "15-10-14"

### The format of 'Date' should be 'dd-mm-yy'

### Replace the NULL values present in the column "Date"

#### Hint:
Understanding the Data features of the given dataset will make it EASY

### Q3.Return the Column "Date" as a LIST

In [203]:
#Assign your answer to this variable
df3=df
#df3['Date'].mode()[0]
df.shape

(1200, 26)

In [205]:
df3['Date'].fillna(df3['Date'].mode()[0],inplace=True)
df3.isnull().sum()
df3.shape

(1200, 26)

In [199]:
def convert_dates(x):
    if (x == 'Thirty-Six-2013'):
        final_date  = '30-06-2013'
       # print(final_date)
        return final_date
    if ('Seven' in x):
        final_date = '15-07-2013'
        #print(final_date)
        return final_date
    if ('Twenty' in x):
        final_date = '20-07-2013'
       # print(final_date)
        return final_date
    if ('Thirteen' in x):
        final_date = '07-08-2013'
       # print(final_date)
        return final_date
    if ('Nine' in x):
        final_date = '09-08-2013'
        #print(final_date)
        return final_date
    else:
        final_date = x[0:6]+'20'+x[6:8]
        #print(len(x))
        return final_date
    
    


#q3=

In [206]:
#df3['Dates'] = df3['Date'].apply(lambda x:convert_dates(x))
df3['Dates']=df3['Date'].apply(lambda x:convert_dates(x))
df3['Dates']
#len('Thirty-Six-2013')

0       30-06-2013
1       30-06-2013
2       30-06-2013
3       30-06-2013
4       30-06-2013
           ...
1195    16-08-2013
1196    16-08-2013
1197    16-08-2013
1198    16-08-2013
1199    16-08-2013
Name: Dates, Length: 1200, dtype: object

In [207]:
q3=df3['Dates'].tolist()

### Replace the "OUTLIERS" in the Column "DEM" with the "Mean/Average" Value

### Find out the "OUTLIERS" using the 'Inter-Quartile Range' (IQR)

#### Note:

The Average value should be calculated using the values other than the "OUTLIERS" and it must be rounded off to 4 decimal places

### Q4.Return the Column "DEM" as a LIST

In [208]:
#Assign your answer to this variable

q4=df['DEM'].values.tolist()

### Return the Final Dataframe

In [231]:
#Assign your answer to this variable
df=df.assign(Date=df3.Dates)
q5=df.copy()
q5.shape

(1200, 25)

## make sure you run the below cells to validate
### Do not delete any cells

In [232]:
import pickle
import hashlib

In [233]:
def make_pickle1(file_name, obj):
    with open(file_name, 'wb') as f:
        pickle.dump(geth(obj), f, pickle.HIGHEST_PROTOCOL)

In [234]:
def make_pickle2(file_name, obj):
    with open(file_name, 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

In [235]:
def get_pickle(file_name):
    with open(file_name, 'rb') as f:
        return pickle.load(f)

In [236]:
def geth(obj):
    obj = str(obj).encode()
    m = hashlib.md5()
    m.update( bytes(obj) )
    return m.hexdigest()

In [237]:
def pickling():
    make_pickle2('q1.pickle', q1)
    make_pickle2('q1b.pickle', q1)
    make_pickle2('q2.pickle', q2)
    make_pickle2('q2b.pickle', q2)
    make_pickle2('q3.pickle', q3)
    make_pickle2('q3b.pickle', q3)
    make_pickle2('q4.pickle', q4)
    make_pickle2('q4b.pickle', q4)
    make_pickle2('q5.pickle', q5)
    make_pickle2('q5b.pickle', q5)

    
    
pickling()

### Run  the below cell to run preliminary tests

In [238]:
!py.test tests/test_1.py

============================= test session starts ==============================
platform linux -- Python 3.7.8, pytest-3.7.4, py-1.10.0, pluggy-1.0.0
rootdir: /projects/challenge, inifile:
collected 5 items

tests/test_1.py .....                                                    [100%]

=========================== 5 passed in 0.58 seconds ===========================