In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Salaries.csv')
df.head(5)

E:\MachineLearning\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [17]:
#1. Compute how much total salary cost has increased from year 2011 to 2014
df_total_pay= df.groupby('Year').agg({'TotalPay':np.sum}).reset_index()
salary_diff = df_total_pay.query("Year == 2014")["TotalPay"].values[0] - df_total_pay.query("Year == 2011")["TotalPay"].values[0]
print('Total change from 2011 to 2014 is',salary_diff)

Total change from 2011 to 2014 is 282797920.53994226

In [26]:
#2. Which Job Title in Year 2014 has highest mean salary?
df_job_title= df.groupby(['Year','JobTitle']).agg({'TotalPay':np.mean}).reset_index().query("Year == 2014")
df_job_title[df_job_title.TotalPay == df_job_title.TotalPay.max()].JobTitle.values[0]

'Chief Investment Officer'

In [30]:
#3. How much money could have been saved in Year 2014 by stopping OverTimePay?
df_overTime = df.groupby(["Year"]).agg("sum").filter(["OvertimePay"]).query("Year == 2014")

print("Amount could have been saved in Year 2014 by stopping OverTimePay is",str(float(df_overTime["OvertimePay"])))

Amount could have been saved in Year 2014 by stopping OverTimePay is 205918599.27000067

In [32]:
#4. Which are the top 5 common job in Year 2014 and how much do they cost SFO ?
df_top5 = df.groupby(["Year", "JobTitle"]).agg("count").filter(["Year", "TotalPay", "JobTitle"]).query("Year == 2014").sort_values("TotalPay", ascending=False)

print(df_top5.head(5))

                                   TotalPay
Year JobTitle
2014 Transit Operator                  2479
     Special Nurse                     1478
     Registered Nurse                  1234
     Public Svc Aide-Public Works       916
     Firefighter                        815

In [37]:
#5. Who was the top earning employee across all the years?

df_top_employee = df.groupby(["Year", "TotalPay"]).agg("max").filter(
    ["Year", "TotalPay", "EmployeeName"]).sort_values("TotalPay", ascending=False).reset_index()
df_top_employee

        Year   TotalPay       EmployeeName
0       2011  567595.43     NATHANIEL FORD
1       2011  538909.28       GARY JIMENEZ
2       2014  471952.64        David Shinn
3       2014  390111.98         Amy P Hart
4       2012  362844.66     Gary Altenberg
...      ...        ...                ...
139328  2012       0.00    William Mathews
139329  2014       0.00  Timothy C Benetti
139330  2013       0.00     Yao Zhang  Mai
139331  2011       0.00     PAULETTE ADAMS
139332  2014    -618.13          Joe Lopez

[139333 rows x 3 columns]

In [39]:
top_employee_name = df_top_employee[df_top_employee.TotalPay == df_top_employee.TotalPay.max()].EmployeeName.values[0]
print('Top Earning employee across the years is',top_employee_name)

Top Earning employee across the years is NATHANIEL FORD

In [51]:
#2. In year 2011 OverTimePay was what percentage of TotalPayBenefits

df_overTime1 = df.groupby(["Year"]).agg("sum").filter(["OvertimePay","TotalPay"]).query("Year == 2011")
df_overTime1
total_overtime = df_overTime1.OvertimePay.values[0]
total_pay = df_overTime1.TotalPay.values[0]

print('In year 2011 OverTimePay was', (total_overtime/total_pay)*100, '% of TotalPayBenefits')

In year 2011 OverTimePay was 6.3150336542786745 % of TotalPayBenefits

In [71]:
#Which Job Title in Year 2014 has lowest mean salary
df_mean_salary = df.groupby(["Year",'JobTitle']).agg("mean").filter(["TotalPay"]).query("Year == 2014").reset_index()
jobtitle = df_mean_salary[df_mean_salary.TotalPay == df_mean_salary.TotalPay.min()].JobTitle.values[0]
print('Job Title in Year 2014 has lowest mean salary is',jobtitle)

Job Title in Year 2014 has lowest mean salary is Special Assistant 15