## Instructions

1. Follow the instructions in each of the cell

2. Make sure not to delete any of the cells

#### Run the below cell to install the required packages and download the required files

In [261]:
!wget https://hr-projects-assets-prod.s3.amazonaws.com/7ci8p93b6bl/c2e87ab672c358f5a889ab5b8c6b4359/uncleaned_data.csv
!pip3 install pytest==3.7.4

'wget' is not recognized as an internal or external command,
operable program or batch file.

Requirement already satisfied: pytest==3.7.4 in c:\users\sudip\anaconda3\lib\site-packages (3.7.4)
Requirement already satisfied: pluggy>=0.7 in c:\users\sudip\anaconda3\lib\site-packages (from pytest==3.7.4) (0.13.1)
Requirement already satisfied: more-itertools>=4.0.0 in c:\users\sudip\anaconda3\lib\site-packages (from pytest==3.7.4) (8.7.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\sudip\anaconda3\lib\site-packages (from pytest==3.7.4) (20.3.0)
Requirement already satisfied: setuptools in c:\users\sudip\anaconda3\lib\site-packages (from pytest==3.7.4) (52.0.0.post20210125)
Requirement already satisfied: py>=1.5.0 in c:\users\sudip\anaconda3\lib\site-packages (from pytest==3.7.4) (1.10.0)
Requirement already satisfied: colorama in c:\users\sudip\anaconda3\lib\site-packages (from pytest==3.7.4) (0.4.4)
Requirement already satisfied: six>=1.10.0 in c:\users\sudip\anaconda3\lib\site-packages (from pytest==3.7.4) (1.15.0)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\sudip\anaconda3\lib\site-packages (from pytest==3.7.4) (1.4.0)

In [321]:
#import statements
import pandas as pd
import numpy as np
from datetime import datetime

### Input Data

Note : Dataset is

(uncleaned_data.csv)

In [322]:
#Load the data
df=pd.read_csv('uncleaned_data.csv')

df.columns

Index(['station', 'Date', 'Present_Tmax', 'Present_Tmin', 'LDAPS_RHmin',
       'LDAPS_RHmax', 'LDAPS_Tmax_lapse', 'LDAPS_Tmin_lapse', 'LDAPS_WS',
       'LDAPS_LH', 'LDAPS_CC1', 'LDAPS_CC2', 'LDAPS_CC3', 'LDAPS_CC4',
       'LDAPS_PPT1', 'LDAPS_PPT2', 'LDAPS_PPT3', 'LDAPS_PPT4', 'lat', 'lon',
       'DEM', 'Slope', 'Solar radiation', 'Next_Tmax', 'Next_Tmin'],
      dtype='object')

### Replace the NULL values present in the columns "Next_Tmax" and "Next_Tmin" with "MODE" of the columns respectively

### Q1.Return the Column "Next_Tmax" as a LIST

In [323]:
df['Next_Tmax'].fillna(df['Next_Tmax'].mode()[0],inplace=True)
df['Next_Tmin'].fillna(df['Next_Tmin'].mode()[0],inplace=True)

In [324]:
#Assign your answer to this variable

q1=df['Next_Tmax'].values.tolist()

### Replace the NULL values present in the list of columns 

[
'Present_Tmin',
'Present_Tmax',
'LDAPS_RHmin',
'LDAPS_RHmax',
'LDAPS_Tmax_lapse',
'LDAPS_Tmin_lapse',
'LDAPS_WS',
'LDAPS_LH',
'LDAPS_CC1',
'LDAPS_CC2',
'LDAPS_CC3',
'LDAPS_CC4',
'LDAPS_PPT1',
'LDAPS_PPT2',
'LDAPS_PPT3',
'LDAPS_PPT4'
]
### with "Mean/Average" of the columns respectively 

#### Note:

Round off the 'Mean' values upto the number of decimal places the mentioned in the following:

['Present_Tmin','Present_Tmax'] - 1

['LDAPS_PPT1','LDAPS_PPT2','LDAPS_PPT3','LDAPS_PPT4'] - 5

['LDAPS_RHmin','LDAPS_RHmax','LDAPS_Tmax_lapse','LDAPS_Tmin_lapse','LDAPS_LH'] - 8

['LDAPS_WS','LDAPS_CC1','LDAPS_CC2','LDAPS_CC3','LDAPS_CC4',] - 9

In [325]:
round1 =['Present_Tmin','Present_Tmax']
round5 = ['LDAPS_PPT1','LDAPS_PPT2','LDAPS_PPT3','LDAPS_PPT4'] 
round8 = ['LDAPS_RHmin','LDAPS_RHmax','LDAPS_Tmax_lapse','LDAPS_Tmin_lapse','LDAPS_LH']
round9 = ['LDAPS_WS','LDAPS_CC1','LDAPS_CC2','LDAPS_CC3','LDAPS_CC4',]

In [326]:
for i in round1:
    df[i].fillna(round(df[i].mean(),1),inplace=True)

for i in round5:
    df[i].fillna(round(df[i].mean(),5),inplace=True)
    
for i in round8:
    df[i].fillna(round(df[i].mean(),8),inplace=True)
    
for i in round9:
    print(i)
    df[i].fillna(round(df[i].mean(),9),inplace=True)

LDAPS_WS
LDAPS_CC1
LDAPS_CC2
LDAPS_CC3
LDAPS_CC4

In [327]:
df.isnull().sum()

station             0
Date                5
Present_Tmax        0
Present_Tmin        0
LDAPS_RHmin         0
LDAPS_RHmax         0
LDAPS_Tmax_lapse    0
LDAPS_Tmin_lapse    0
LDAPS_WS            0
LDAPS_LH            0
LDAPS_CC1           0
LDAPS_CC2           0
LDAPS_CC3           0
LDAPS_CC4           0
LDAPS_PPT1          0
LDAPS_PPT2          0
LDAPS_PPT3          0
LDAPS_PPT4          0
lat                 0
lon                 0
DEM                 0
Slope               0
Solar radiation     0
Next_Tmax           0
Next_Tmin           0
dtype: int64

### Q2.Return the Dataframe which contains these columns [ 'Present_Tmin', 'Present_Tmax', 'LDAPS_RHmin', 'LDAPS_RHmax', 'LDAPS_Tmax_lapse', 'LDAPS_Tmin_lapse', 'LDAPS_WS', 'LDAPS_LH', 'LDAPS_CC1', 'LDAPS_CC2', 'LDAPS_CC3', 'LDAPS_CC4', 'LDAPS_PPT1', 'LDAPS_PPT2', 'LDAPS_PPT3', 'LDAPS_PPT4' ]

In [328]:
#Assign your answer to this variable
q2=df[[ 'Present_Tmin', 'Present_Tmax', 'LDAPS_RHmin', 'LDAPS_RHmax', 'LDAPS_Tmax_lapse', 'LDAPS_Tmin_lapse', 'LDAPS_WS', 'LDAPS_LH', 'LDAPS_CC1', 'LDAPS_CC2', 'LDAPS_CC3', 'LDAPS_CC4', 'LDAPS_PPT1', 'LDAPS_PPT2', 'LDAPS_PPT3', 'LDAPS_PPT4' ]]

### Replace the Representation errors in the column "Date" properly as per the column

#### e.g.:
### Some values are represented using words instead of numbers like "Fifteen-10-14" instead of "15-10-14"

### The format of 'Date' should be 'dd-mm-yy'

### Replace the NULL values present in the column "Date"

#### Hint:
Understanding the Data features of the given dataset will make it EASY

### Q3.Return the Column "Date" as a LIST

In [329]:
#Assign your answer to this variable
df3=df
#df3['Date'].mode()[0]
df.shape
df[df.Date.isnull()].index
for i in df[df.Date.isnull()].index:
    df.loc[i,'Date']=df.loc[i+1,'Date']

In [330]:
def convert_dates(x):
    if (x == 'Thirty-Six-2013'):
        final_date  = '30-06-2013'
       # print(final_date)
        return final_date
    if ('Seven' in x):
        final_date = '15-07-2013'
        #print(final_date)
        return final_date
    if ('Twenty' in x):
        final_date = '20-07-2013'
       # print(final_date)
        return final_date
    if ('Thirteen' in x):
        final_date = '07-08-2013'
       # print(final_date)
        return final_date
    if ('Nine' in x):
        final_date = '09-08-2013'
        #print(final_date)
        return final_date
    else:
        final_date = x[0:6]+'20'+x[6:8]
        #print(len(x))
        return final_date
    
    


#q3=

In [331]:
#df3['Dates'] = df3['Date'].apply(lambda x:convert_dates(x))
df['Dates']=df['Date'].apply(lambda x:convert_dates(x))
df=df.assign(Date=df.Dates)
df = df.drop(['Dates'], axis=1)
#len('Thirty-Six-2013')

In [332]:
q3=df['Date'].tolist()

### Replace the "OUTLIERS" in the Column "DEM" with the "Mean/Average" Value

### Find out the "OUTLIERS" using the 'Inter-Quartile Range' (IQR)

#### Note:

The Average value should be calculated using the values other than the "OUTLIERS" and it must be rounded off to 4 decimal places


### Q4.Return the Column "DEM" as a LIST

In [336]:
#Assign your answer to this variable
Q1 = np.percentile(df['DEM'], 25, interpolation = 'midpoint')
Q3 = np.percentile(df['DEM'], 75, interpolation = 'midpoint')
IQR =  Q3- Q1 
low_lim = Q1 - 1.5 * IQR
up_lim = Q3 + 1.5 * IQR

non_outlier =[]
for x in df['DEM']:
    if ((x<= up_lim) or (x>=low_lim)):
         non_outlier.append(x)
avg=round(sum(non_outlier)/len(non_outlier),4)
df["DEM"] = np.where(((df["DEM"] > up_lim) & (df["DEM"] > low_lim)), avg, df['DEM'])

In [337]:
outlier =[]
for x in df['DEM']:
    if ((x> up_lim) or (x<low_lim)):
         non_outlier.append(x)
outlier

[]

In [335]:
q4=df['DEM'].values.tolist()

### Return the Final Dataframe

In [318]:
#Assign your answer to this variable

q5=df.copy()
q5.dtypes

station               int64
Date                 object
Present_Tmax        float64
Present_Tmin        float64
LDAPS_RHmin         float64
LDAPS_RHmax         float64
LDAPS_Tmax_lapse    float64
LDAPS_Tmin_lapse    float64
LDAPS_WS            float64
LDAPS_LH            float64
LDAPS_CC1           float64
LDAPS_CC2           float64
LDAPS_CC3           float64
LDAPS_CC4           float64
LDAPS_PPT1          float64
LDAPS_PPT2          float64
LDAPS_PPT3          float64
LDAPS_PPT4          float64
lat                 float64
lon                 float64
DEM                 float64
Slope               float64
Solar radiation     float64
Next_Tmax           float64
Next_Tmin           float64
dtype: object

## make sure you run the below cells to validate
### Do not delete any cells

In [319]:
import pickle
import hashlib

In [320]:
def make_pickle1(file_name, obj):
    with open(file_name, 'wb') as f:
        pickle.dump(geth(obj), f, pickle.HIGHEST_PROTOCOL)

In [282]:
def make_pickle2(file_name, obj):
    with open(file_name, 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

In [283]:
def get_pickle(file_name):
    with open(file_name, 'rb') as f:
        return pickle.load(f)

In [284]:
def geth(obj):
    obj = str(obj).encode()
    m = hashlib.md5()
    m.update( bytes(obj) )
    return m.hexdigest()

In [285]:
def pickling():
    make_pickle2('q1.pickle', q1)
    make_pickle2('q1b.pickle', q1)
    make_pickle2('q2.pickle', q2)
    make_pickle2('q2b.pickle', q2)
    make_pickle2('q3.pickle', q3)
    make_pickle2('q3b.pickle', q3)
    make_pickle2('q4.pickle', q4)
    make_pickle2('q4b.pickle', q4)
    make_pickle2('q5.pickle', q5)
    make_pickle2('q5b.pickle', q5)

    
    
pickling()

### Run  the below cell to run preliminary tests

In [286]:
!py.test tests/test_2.py

============================= test session starts =============================
platform win32 -- Python 3.8.8, pytest-3.7.4, py-1.10.0, pluggy-0.13.1
rootdir: C:\Users\Sudip\Sudip_ML\DataScienceE2\Sprint1_Assessment, inifile:
plugins: anyio-2.2.0
collected 5 items

tests\test_2.py .....                                                    [100%]

========================== 5 passed in 0.63 seconds ===========================