In [1]:
import pandas as pd

In [17]:

df = pd.read_html('http://uscar-price.surge.sh/')

In [18]:
q1 = pd.DataFrame()
q1 = df[0]

In [19]:

company = ['toyota', 'ford', 'dodge', 'chevrolet', 'gmc', 'chrysler', 'kia',
       'buick', 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac', 'chervolet', 'hyundai', 'mazda', 'honda', 'geep',
       'heartland', 'jaguar', 'acura', 'harley-davidson',
       'audi', 'lincoln', 'lexus', 'nissan', 'land', 'maserati',
       'peterbilt', 'ram']

In [20]:
q2 = q1[q1.brand.isin(company)]

In [21]:
q2.isnull().sum()

price             0
brand             0
model             0
year              0
title_status      0
mileage         189
color            48
vin               0
lot               0
state             0
country           0
condition         0
dtype: int64

In [24]:
def match_colors(x):
    if ('red' in x):
        return 'red'
    if ('black' in x):
        return 'black'
    if ('silver' in x):
        return 'silver'
    if ('blue' in x):
        return 'blue'
    if ('white' in x):
        return 'white'
    if ('orange' in x):
        return 'orange'
    if ('yellow' in x):
        return 'yellow'
    else:
        return 'others'

In [26]:
q21 = q2[q2.color.notna()]
q21.colors = q21.color.apply(lambda x:match_colors(x))

<ipython-input-26-ae0463731ca0>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  q21.colors = q21.color.apply(lambda x:match_colors(x))

In [31]:
q3=q2.assign(color=q21.colors)
q3.condition.unique()

array(['10 days left', '6 days left', '2 days left', '22 hours left',
       '20 hours left', '19 hours left', '3 days left', '21 hours left',
       '17 hours left', '2 hours left', '3 hours left', '34 minutes',
       '16 hours left', '18 hours left', '1 days left', '32 minutes',
       '14 hours left', '5 hours left', '4 days left', '9 days left',
       '23 hours left', '8 days left', '7 days left', '5 days left',
       '9 minutes', '1 minutes', '7 hours left', '16 minutes',
       '6 hours left', '1 hours left', 'Listing Expired', '13 days left',
       '24 hours left', '15 hours left', '53 minutes', '27 minutes',
       '12 days left', '15 days left', '30 minutes', '29 minutes',
       '28 minutes', '48 minutes', '11 days left', '4 hours left',
       '47 minutes', '12 hours left', '36 minutes'], dtype=object)

In [ ]:
def convert_timne(x):
    if ('days') is in x: