In [3]:
import pandas as pd

In [4]:

df = pd.read_html('http://uscar-price.surge.sh/')

In [26]:
q1 = pd.DataFrame()
q1 = df[0]
print(q1.dtypes)
q1= q1.astype({"brand": str})
q1.dtypes

price             int64
brand            object
model            object
year              int64
title_status     object
mileage         float64
color            object
vin              object
lot               int64
state            object
country          object
condition        object
dtype: object

price             int64
brand            object
model            object
year              int64
title_status     object
mileage         float64
color            object
vin              object
lot               int64
state            object
country          object
condition        object
dtype: object

In [27]:

company = ['toyota', 'ford', 'dodge', 'chevrolet', 'gmc', 'chrysler', 'kia',
       'buick', 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac', 'chervolet', 'hyundai', 'mazda', 'honda', 'geep',
       'heartland', 'jaguar', 'acura', 'harley-davidson',
       'audi', 'lincoln', 'lexus', 'nissan', 'land', 'maserati',
       'peterbilt', 'ram']

In [28]:
q2 = q1[q1.brand.isin(company)]

In [29]:
q2.isnull().sum()

price             0
brand             0
model             0
year              0
title_status      0
mileage         189
color            48
vin               0
lot               0
state             0
country           0
condition         0
dtype: int64

In [30]:
def match_colors(x):
    if ('red' in x):
        return 'red'
    if ('black' in x):
        return 'black'
    if ('silver' in x):
        return 'silver'
    if ('blue' in x):
        return 'blue'
    if ('white' in x):
        return 'white'
    if ('orange' in x):
        return 'orange'
    if ('yellow' in x):
        return 'yellow'
    else:
        return 'others'

In [31]:
q21 = q2[q2.color.notna()]
q21.colors = q21.color.apply(lambda x:match_colors(x))

<ipython-input-31-ae0463731ca0>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  q21.colors = q21.color.apply(lambda x:match_colors(x))

In [32]:
q3=q2.assign(color=q21.colors)
q3.condition.unique()

array(['10 days left', '6 days left', '2 days left', '22 hours left',
       '20 hours left', '19 hours left', '3 days left', '21 hours left',
       '17 hours left', '2 hours left', '3 hours left', '34 minutes',
       '16 hours left', '18 hours left', '1 days left', '32 minutes',
       '14 hours left', '5 hours left', '4 days left', '9 days left',
       '23 hours left', '8 days left', '7 days left', '5 days left',
       '9 minutes', '1 minutes', '7 hours left', '16 minutes',
       '6 hours left', '1 hours left', 'Listing Expired', '13 days left',
       '24 hours left', '15 hours left', '53 minutes', '27 minutes',
       '12 days left', '15 days left', '30 minutes', '29 minutes',
       '28 minutes', '48 minutes', '11 days left', '4 hours left',
       '47 minutes', '12 hours left', '36 minutes'], dtype=object)

In [33]:
def convert_time(x):
    if ('days' in x):
        return round(int(x[:-10])*24*60)
    if ('hours' in x):
        return round(int(x[:-11])*60)
    if ('minutes' in x):
        return round(int(x[:-8]))
    if (x=='Listing Expired'):
        return 0

In [40]:
q21.time = q21.condition.apply(lambda x:convert_time(x))
q21.time

0       14400
1        8640
2        2880
3        1320
4        1320
        ...
2494     1440
2495     1260
2496     1260
2497     2880
2498     1260
Name: condition, Length: 2434, dtype: int64

In [36]:
q4=q4.assign(condition=q21.time)
q4
#q4= q4.astype({"condition": int})

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,14400.0
1,2899,ford,se,2011,clean vehicle,NaN,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,8640.0
2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2880.0
3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,1320.0
4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,1320.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1440.0
2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,1260.0
2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,1260.0
2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2880.0
2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,1260.0